.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  padding-inline: 16px;

  background-color: var(--black-5);
}

.image {
  position: relative;

  width: 288px;
  height: 192px;

  margin-bottom: 32px;
}

.score {
  margin-bottom: 8px;

  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;

  opacity: 50%;
}

.earned {
  margin-bottom: 102px;

  font-size: 32px;
  font-weight: 600;
  line-height: 37px;
  text-align: center;
}

.button {
  width: 288px;
  height: 48px;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;

    padding-inline: 0;
  }
}

@media (min-width: 1280px) {
  .content {
    transform: translateY(-15%);
  }

  .image {
    width: 624px;
    height: 367px;
    margin-bottom: 0;
  }

  .score {
    align-self: flex-start;

    font-size: 32px;
    line-height: 37px;
    text-align: left;
  }

  .earned {
    align-self: flex-start;

    margin-bottom: 64px;

    font-size: 56px;
    line-height: 65px;
  }

  .button {
    align-self: flex-start;

    width: 296px;
    height: 64px;
  }
}
